.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex: 0 0 430px;
  background: white;
  border-radius: 8px;
  flex-wrap: wrap;
}

.title {
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 40px 0 0;
  font-size: 24px;
}

.inputGroup {
  margin: 40px;
  width: 100%;
}

.inputBox {
  margin-bottom: 20px;
}

.inputBox input {
  width: 100%;
  padding: 6px 12px;
  display: block;
  margin: 0;
  border: 1px solid #cbcbd2;
  background: white;
  font-size: 14px;
  border-radius: 4px;
  height: 44px;
  box-shadow: inset 0 1px 2px rgba(203,203,210,0.4);
}

.inputBox input:focus {
  border-color: #3585b5;
  outline: 0;
}

.inputButton {
  height: 45px;
  font-size: 16px;
  width: 100%;
  background: #529ecc;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  font-weight: 300;
}

.inputButton:hover {
  background: #378bbe;
}

.inputButton:active {
  background: #3585b5;
}

.h3users {
  margin: 5%;
}

.usersList {
  margin-left: 5%;
}